@inject ISyncLocalStorageService LocalStorage
@inject IProductService ProductService
@inject ICartService CartService
@inject NavigationManager Nav
@implements IDisposable

<BlazoredTypeahead SearchMethod="@SearchProduct"
                        TValue="Product"
                        TItem="Product"
                        Value="selectedProduct"
                        ValueChanged="HandleSearch"
                        ValueExpression="@(()=> selectedProduct)"
                        placeholder="검색중...">
    <SelectedTemplate>
        @context.Title
    </SelectedTemplate>
    <ResultTemplate>
        @context.Title
    </ResultTemplate>
    <NotFoundTemplate>
        죄송합니다, 찾고 있는 내역이 없습니다.
    </NotFoundTemplate>
</BlazoredTypeahead>

<a href="cart" class="btn btn-info">
    <i class="oi oi-cart"></i>
    장바구니
    <span class="badge badge-pill badge-light">@GetProductCount()</span>
</a>

@code {
    private Product selectedProduct;

    protected override void OnInitialized()
    {
        //스테이트가 바뀔때 메서드가 실행된다.
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }

    private int GetProductCount()
    {
        var cart = LocalStorage.GetItem<List<ProductVariant>>("cart");
        return cart != null ? cart.Count : 0;
    }

    private void HandleSearch(Product product)
    {
        if (product == null) return;
        selectedProduct = product;
        Nav.NavigateTo($"product/{selectedProduct.Id}");
    }

    private async Task<IEnumerable<Product>> SearchProduct(string searchText)
    {
        var response = await ProductService.SearchProducts(searchText);
        return response;
    }
}
